NODE_ENV=production
PORT=3000

DB_HOST=<railway-mysql-host>
DB_PORT=<railway-mysql-port>
DB_USER=<railway-mysql-user>
DB_PASSWORD=<railway-mysql-password>
DB_DATABASE=sistema_vales

JWT_SECRET=<generar-con-openssl-rand-hex-32>
JWT_REFRESH_SECRET=<generar-con-openssl-rand-hex-32>

VAPID_PUBLIC_KEY=BGI03HeR6D59Q5j9LovsymcUxO5ZrjcL9607fbOpacXtGUXB3IsFk8MIj--Bo-G5FqNcCZhdE_Y5SM4Tz9o5Prk
VAPID_PRIVATE_KEY=OAglHpXd_04jz8kct-MKXfAZsJp8rEu4Otq5HY5k3d0
VAPID_EMAIL=mailto:admin@grupolavillita.com
